[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
split_folders = "*"
torchvision = "*"
tqdm = "*"
clearml = "*"
python-dotenv = "*"
scikit-learn = "*"

[dev-packages]
tinyvgg-trainer = {file = ".", editable = true}

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
